/* basic skeleton css left as is. this file customises it */

/* main hero container section */

body, html {
    height: 100%; /* to give the full screen home image */

}

.hero {
  padding: 0;
  height: 100%; 
  text-align: center;
  position: relative;
  background-color: #000; /* black background to darken hero image below */
  color: white;
  
}

.hero-image {
  background: url("../images/home.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  opacity: .7;
}



.watch-trailer  {
	letter-spacing:2px;

}

.watch-trailer .watch {
	width:80px;
	display:inline-block;
	text-align:right;
	font-size: 1em;
	line-height:50px;
	cursor:pointer;
}

.watch-trailer .play {
	width:30px;
	display:inline-block;
	cursor:pointer;
}

.watch-trailer .trailer {
	width:80px;
	display:inline-block;
	text-align:left;
	font-size: 1em;
	line-height:50px;
	cursor:pointer;
}





/* VIDEO */


.lb {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}


.lightbox-content {
  height:100%;
}

/* The Close Button */



.close {
	position:absolute;
	top:10px;
	right:50px;
  color: white;
  font-size: 50px;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}




/* --------Mobile vs web CSS here-----------*/

/*----- MOBILE(<550px width) ---------*/

/* mobile decives use small logo by default*/


  .home-logo {
	  height:60%;
	padding-top:50px;
}

.watch-trailer {
	height:30%;
	padding-top:50px;
}


/* NAVIGATION */

/* Style the links inside the navigation bar */
.topnav a {

	color: white;

}



/*------ WEB (>=550px width) ---------*/

/* large devices use large logo */
@media (min-width: 550px) {
	/* hide small logo */

  .home-logo {
	padding-top:100px;
	}
	
	.watch-trailer {
	padding-top:180px;
}





}
  

